

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../img/preloader/128x128/Preloader_2.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
  }
  .nav-btn.prev-slide {
    position: absolute;
    top: 49%;
    background: #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 1%;
}
.nav-btn.next-slide {
  position: absolute;
  top: 49%;
  background: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 1%;
  right: 0;
}
.slider-featured {
    background-image: url('../img/bg/featured-bg1.webp');
    background-size: cover;
    background-position: left;
    background-color: #00000011;
    background-blend-mode: multiply;
}